body {
    margin-left: 45px;
}

img {
    height: 50px;
}

.hand {
    height: 260px;
}
.hr {
    margin: 0;
    padding: 4px;
}

.first-li {
    display: block;
    height: 260px;
    width: 110px;
    margin-bottom: 30px;
}

li {
    list-style-type: none;
    display: inline-block;
}

.first-li:hover ~ li:nth-child( odd) {
    visibility: hidden;
}