body{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    width: 250px;
    margin: auto;
}
p{
    min-height: 25px;
    width: 100%;
    text-align: center;
    background: darkslategray;
    margin: 20px auto;
    color: white;
    font-size: 20px;
    padding: 5px;
}
.dropdownDC{
    float: left;
    overflow: hidden;
}
.dropdownMarvel{
    float: right;
    overflow: hidden;
}
.dropdownDC .dropbtnDC{
    font-size: 16px;
    border: none;
    outline: none;
    background: darkslategrey;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    min-width: 100px;
}
.dropdownMarvel .dropbtnMarvel{
    font-size: 16px;
    border: none;
    outline: none;
    background: darkslategrey;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    min-width: 100px;
}
.dropdownContentDC{
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0 8px 16px 0px lightseagreen;
}
.dropdownContentMarvel{
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0 8px 16px 0px lightseagreen;
}
.dropContentMenuItemMarvel{
    display: none;
    min-width: 200px;
    background: lightblue;
    position: absolute;
    left: 100px;
    top: 0;
    min-width: 400px;
    opacity: 75%;
}
.dropContentMenuItemDC{
    display: none;
    min-width: 100px;
    background: lightblue;
    position: absolute;
    left: -400px;
    top: 0;
    min-width: 400px;
    opacity: 75%;

}
.dropdownContentDC a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    background: lightcyan;
    opacity: 75%;
}
.dropdownContentMarvel a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background: lightcyan;
    opacity: 75%;
}
.dropdownDC:hover .dropdownContentDC{
    display: block;
}
.dropdownMarvel:hover .dropdownContentMarvel{
    display: block;
}
.dropdownDCMenuItem:hover{
    background: darkslategrey;
}
.dropdownLoki:hover .dropContentLoki{
    display: block;
}
.dropdownWolverine:hover .dropContentWolverine{
    display: block;
}
.dropContentLoki a:hover{
    background: darkslategrey;
    color: white;
}
.dropContentWolverine a:hover{
    background: darkslategrey;
    color: white;
}

.dropdownMerlyn:hover .dropContentMerlyn{
    display: block;
}
.dropdownVenom:hover .dropContentVenom{
    display: block;
}
.dropContentMerlyn a:hover{
    background: darkslategrey;
    color: white;
}
.dropContentVenom a:hover{
    background: darkslategrey;
    color: white;
}
.dropdownFlash:hover .dropContentFlash{
    display: block;
}
.dropdownStorm:hover .dropContentStorm{
    display: block;
}
.dropContentFlash a:hover{
    background: darkslategrey;
    color: white;
}
.dropContentStorm a:hover{
    background: darkslategrey;
    color: white;
}
