form {
    margin: 10px 0px;
    height: 2em;
}

form input {
    color: green;
    text-align: start;
    float: left;
    width: calc(100% - 44px);
}

form button {
    padding-left: 0;
    padding-right: 0;
    color: green;
    float: left;
}

form button:hover {
    color: red;
}

form input:hover {
    color: red;
}