h1 {
    margin-bottom: 45px;
}

div {
    border: 1px solid black;
    width: calc(100% - 200px);
    margin: 0 auto;
    background-color: rgb(221, 221, 221);
    padding: 25px;
}

div:before {
    content: " ";
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    position: absolute;
    display: block;
    width: calc(100% - 216px);
    height: 80px;
    padding: 25px;
    left: 82px;
    top: 72px;
}

div::after {
    content: " ";
    border: 1px solid black;
    position: absolute;
    display: block;
    border-left: none;
    border-right: none;
    width: calc(100% - 156px);
    height: 18px;
    padding: 25px;
    right: 52px;
    top: 103px;
}